# Site URLs
NEXT_PUBLIC_SITE_URL=https://lubrilean.com

# Social Media
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/lubrilean.pdas
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/lubrilean
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/5493765214214

# Contact Information
NEXT_PUBLIC_PHONE=+54 9 376 521-4214
NEXT_PUBLIC_EMAIL=contacto@lubrilean.com
NEXT_PUBLIC_ADDRESS=Posadas, Misiones, 3300
NEXT_PUBLIC_MAPS_URL=https://maps.app.goo.gl/5kvnS2CvodN1LQDE7

